html{font-size: 62.5%;}
.greeting{
    margin: 50px;
    font-size: 6.0rem;
    border-style: solid;
    background-color: rgb(205, 165, 92); 
    color:rgb(28, 42, 73);
    text-align: center; }
.hobby-list{
    font-size: 2.0rem;
    color: rgb(99, 6, 6); 
    border-style: dotted;}
h2{
    font-size: 3.0rem;
    margin: 75px;
    border-style: solid;
    text-align: center;
    background-color: rgb(136, 153, 39);
     color:rgb(27, 36, 58);}
p{
    font-size: 2.4rem;
    border-style: groove;}