.greeting{background-color: indianred; color:rgb(28, 42, 73);}
.hobby-list{color: rgb(51, 70, 32); border-style: dotted;}
h2{background-color: indianred; color:rgb(28, 42, 73);}
p{border-style: double;}